@tailwind base;
@tailwind components;
@tailwind utilities;


.slide-enter {
    opacity: 0;
    transform: translateX(100%);
  }
  .slide-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: transform 500ms ease, opacity 500ms ease;
  }
  .slide-exit {
    opacity: 1;
    transform: translateX(0);
  }
  .slide-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 500ms ease, opacity 500ms ease;
  }
  

  .loader {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top: 5px solid #929292;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }